<main>
  <div class="mx-auto p-6">
    <div class="flex flex-wrap gap-6">
      <h1 class="w-full text-xl font-semibold mb-4" style="text-align: center">
        Automation Test Execution Report
      </h1>

      <div>
        <label for="testSuiteName" class="font-medium block">Domain Name</label>
        <p-dropdown [options]="domainOptions" styleClass="m-w-350" [(ngModel)]="report.domainName"
          optionLabel="name"></p-dropdown>
      </div>
      <!-- Test Suite Name -->
      <div>
        <label for="testSuiteName" class="font-medium block">Test Suite Name</label>
        <p-dropdown [options]="testSuiteOptions" styleClass="m-w-350" [(ngModel)]="report.testSuite"
          optionLabel="name"></p-dropdown>
      </div>

      <!-- Tool -->
      <div>
        <label for="environment" class="font-medium block">Tool Used</label>
        <p-dropdown [options]="toolOptions" [(ngModel)]="report.tool" optionLabel="name"></p-dropdown>
      </div>

      <!-- Local Company -->
      <div>
        <label for="localCompany" class="font-medium block">Local Company</label>
        <input pInputText [(ngModel)]="report.localCompany" id="localCompany" class="p-2 border rounded" />
      </div>

      <!-- Execution Date -->
      <div>
        <label for="executionDate" class="font-medium block">Execution Date</label>
        <p-calendar [(ngModel)]="report.date" id="executionDate"></p-calendar>
      </div>

      <!-- Total Test Case Count -->
      <div>
        <label for="totalTestCaseCount" class="font-medium block">Total Test Case Count</label>
        <input pInputText [(ngModel)]="report.totalTestCaseCount" id="totalTestCaseCount" class="p-2 border rounded" />
      </div>

      <!-- Executed Test Cases Count -->
      <div>
        <label for="executedTestCaseCount" class="font-medium block">Executed Test Cases Count</label>
        <input pInputText [(ngModel)]="report.executedTestCaseCount" id="executedTestCaseCount"
          class="p-2 border rounded" />
      </div>

      <!-- Passed Test Cases Count -->
      <div>
        <label for="passedTestCaseCount" class="font-medium block">Passed Test Cases Count</label>
        <input pInputText [(ngModel)]="report.passedTestCaseCount" id="passedTestCaseCount"
          class="p-2 border rounded" />
      </div>

      <!-- Status -->
      <div>
        <label for="status" class="font-medium block">Test Run Status</label>
        <p-dropdown [options]="statusOptions" [(ngModel)]="report.status" optionLabel="name"></p-dropdown>
      </div>

      <!-- Executed By -->
      <div>
        <label for="executedBy" class="font-medium block">Maintained By</label>
        <p-dropdown [options]="executedByOptions" [(ngModel)]="report.executedBy" optionLabel="name"></p-dropdown>
      </div>
      <!-- Application Mode -->
      <div>
        <label for="applicationMode" class="font-medium block">Application Mode</label>
        <p-dropdown [options]="applicationModes" [(ngModel)]="report.applicationMode" optionLabel="name"></p-dropdown>
      </div>
      <!-- Application Type -->
      <div>
        <label for="applicationType" class="font-medium block">Application Type</label>
        <p-dropdown [options]="applicationType" [(ngModel)]="report.applicationType" optionLabel="name"></p-dropdown>
      </div>

      <!-- Comments -->
      <div>
        <label for="comments" class="font-medium block">Comments</label>
        <textarea [(ngModel)]="report.comments" id="comments" placeholder="Enter Comments" rows="4"
          class="p-2 border rounded"></textarea>
      </div>

      <!-- Buttons -->
      <div class="flex justify-between mt-4 w-full">
        <button pButton type="button" label="Add" (click)="addReport()"
          class="bg-blue-500 text-white rounded py-2 px-4 hover:bg-blue-600"></button>
      </div>
    </div>
    <div class="mt-6 px-10">
      <p-table #dt3 [value]="jobsData" dataKey="id" [rows]="10" [scrollHeight]="'100rem'" [scrollable]="true"
        [paginator]="true" [tableStyle]="{ 'min-width': '75rem' }">
        <!-- Table Header with Column Titles -->
        <ng-template pTemplate="header">
          <tr>
            <th>Domain Name</th>
            <th>Test Suite Name</th>
            <th>Tool Used</th>
            <th>Application Type</th>
            <th>Test Run Status</th>
            <th>Pass %</th>
            <th>Application Mode</th>
            <th>Total Test Cases</th>
            <th>Executed Test Cases</th>
            <th>Passed Test Cases</th>
            <!-- <th>Local Company</th> -->
            <th>Maintained By</th>
            <th>Comments</th>
          </tr>
          <!-- Filter Row with Dropdowns -->
          <tr>
            <th>
              <p-dropdown [options]="domainOptions" [(ngModel)]="jobFilter.domainName" showClear="true"
                (onChange)="filter()" optionLabel="name"></p-dropdown>
              <!-- <p-calendar [(ngModel)]="jobFilter.date" showClear="true" (onClear)="filter()" (onSelect)="filter()"
                appendTo="body"></p-calendar> -->
            </th>
            <th>
              <p-dropdown styleClass="m-w-350" [options]="testSuiteOptions" [filter]="true" filterBy="name"
                [(ngModel)]="jobFilter.testSuite" showClear="true" (onChange)="filter()" optionLabel="name">
                <ng-template pTemplate="selectedItem" let-selectedOption>
                  <div class="flex align-items-center gap-2">
                    <div>{{ selectedOption.name }}</div>
                  </div>
                </ng-template>
                <ng-template let-country pTemplate="item">
                  <div class="flex align-items-center gap-2">

                    <div>{{ country.name }}</div>
                  </div>
                </ng-template>
              </p-dropdown>
            </th>
            <th>
              <p-dropdown [options]="toolOptions" [(ngModel)]="jobFilter.tool" showClear="true" (onChange)="filter()"
                optionLabel="name"></p-dropdown>
            </th>
            <th Class="max-w-20">
              <p-dropdown [options]="applicationType" showClear="true" [(ngModel)]="jobFilter.applicationType"
                (onChange)="filter()" optionLabel="name"></p-dropdown>
            </th>
            <th>
              <p-dropdown [options]="statusOptions" showClear="true" [(ngModel)]="jobFilter.status"
                (onChange)="filter()" optionLabel="name"></p-dropdown>
            </th>
            <th></th>
            <th>
              <p-dropdown [options]="applicationModes" [(ngModel)]="jobFilter.applicationMode" showClear="true"
                (onChange)="filter()" optionLabel="name"></p-dropdown>
            </th>
            <th></th>
            <th></th>
            <th></th>
            <th>
              <p-dropdown [options]="executedByOptions" [(ngModel)]="jobFilter.executedBy" showClear="true"
                (onChange)="filter()" optionLabel="name"></p-dropdown>
            </th>
            <th></th>
          </tr>
        </ng-template>

        <!-- Table Body - Job Data Rows -->
        <ng-template pTemplate="body" let-job>
          <tr>
            <td>{{job.domainName.name}}</td>
            <!-- <td>{{ job.date ? (job.date | date : "dd-MMM-yyyy") : "N/A" }}</td> -->
            <td class="m-w-350">{{ job.testSuite?.name || "N/A" }}</td>
            <td>{{ job.tool?.name || "N/A" }}</td>
            <td>{{ job.applicationType?.name || "N/A" }}</td>
            <td>{{ job.status?.name || "N/A" }}</td>
            <td>{{ job.passPercentage }}%</td>
            <td>{{ job.applicationMode?.name || "N/A" }}</td>
            <td>{{ job.totalTestCaseCount }}</td>
            <td>{{ job.executedTestCaseCount }}</td>
            <td>{{ job.passedTestCaseCount }}</td>
            <td>{{ job.executedBy?.name || "N/A" }}</td>
            <td class="m-w-350">{{ job.comments }}</td>

          </tr>
        </ng-template>

        <!-- No Data Message -->
        <ng-template pTemplate="emptymessage">
          <tr>
            <td colspan="11">No jobs found.</td>
          </tr>
        </ng-template>
      </p-table>
    </div>
  </div>

  <div class="card px-20 py-20">
    <p-table [value]="[{}]">
      <ng-template pTemplate="header">
        <tr>
          <th>Total Test Cases (All Domains)</th>
          <th>Total Executed Test Cases</th>
          <th>Total Passed Test Cases</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-rowData>
        <tr>
          <td>{{ getTotal('total') }}</td>
          <td>{{ getTotal('executed') }}</td>
          <td>{{ getTotal('passed') }}</td>
        </tr>
      </ng-template>
    </p-table>
  </div>



  <div class="card px-20 py-20">


    <h1 class="w-full text-xl font-semibold mb-4" style="text-align: center">Automation Coverage By Domain</h1>
    <p-table [value]="testCasesProgress" sortMode="single" [scrollable]="true" rowGroupMode="subheader"
      groupRowsBy="domainName" [tableStyle]="{'min-width': '60rem'}">
      <ng-template pTemplate="header">
        <tr>
          <th style="text-align: center">Application</th>
          <th>Date</th>
          <th>Manual Test Scenarios</th>
          <th>% Automated</th>
          <th>Comments</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="groupheader" let-customer>
        <tr pRowGroupHeader>
          <td colspan="5">
            <span class="font-extrabold ml-2">{{customer.domainName}}</span>
          </td>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-customer let-rowIndex="rowIndex">
        <tr>
          <td>
            {{customer.appName}}
          </td>
          <td>
            {{customer.data}}
          </td>
          <td>
            {{customer.manualTestCases}}
          </td>
          <td [ngClass]="getBackgroundColor(customer.automatedPercentage)">
            {{customer.automatedPercentage}}
          </td>
          <td>
            {{customer.comments}}
          </td>
        </tr>
      </ng-template>
    </p-table>
  </div>

  <h6 class="text-right"> Last updated date : {{lastUpdateDate | date : "dd-MMM-yyyy hh:mm" }} </h6>
</main>

<router-outlet />
