label {
  font-weight: 500;
  font: bold;
  margin-bottom:12px;
}

.red {
 background-color: rgb(233, 74, 74);
}

.orange {
  background-color: orange;
}

.green {
  background-color: rgb(107, 238, 107);
}
